---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
    <h1 class="py-20 text-6xl text-primary-800 font-bold text-center">
        {blok.headline}
    </h1>
</div>
