<footer class="row bg-[#50b0ae] text-xl text-[#f7f6fd] mt-10">
    <div class="container mx-auto">
        <div class="p-4">
            <p>© 2024 - Herby Design</p>
        </div>
    </div>
</footer>
