<nav class="container mx-auto flex justify-between p-4 text-[#f7f6fd] text-2xl">
    <div class="logo">
        <p><a href="#">Logo</a></p>
    </div>
    <ul class="flex justify-between gap-4">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
