---
import Logo from "./Logo.astro";

const navItems = [
    {
        name: "Home",
        href: "/",
    },
    {
        name: "Über uns",
        href: "/about",
    },
    {
        name: "Kontakt",
        href: "/contact",
    },
];

const homeRoute = navItems.find((navItem) => navItem.href === "/").href;
---

<nav class="container mx-auto flex justify-between p-4 text-[#f7f6fd] text-2xl">
    <Logo href={homeRoute} />
    <ul class="flex justify-between gap-4">
        {
            navItems.map((navItem) => (
                <li>
                    <a href={navItem.href}>{navItem.name}</a>
                </li>
            ))
        }
    </ul>
</nav>
