---
import { storyblokEditable } from "@storyblok/astro";

const currYear = new Date().getFullYear();

const { blok } = Astro.props;
---

<footer
    class="row bg-secondary text-xl text-text mt-10"
    {...storyblokEditable(blok)}
>
    <div class="container mx-auto">
        <div class="p-4">
            <p>© {currYear} - {blok.footerText}</p>
        </div>
    </div>
</footer>
